.navbar10_component {
  position: fixed;

  display: flex;
  width: 100%;
  padding-right: 5%;
  padding-left: 5%;
  align-items: center;

  background-color: var(--base--color--transparent);
}

@media screen and (max-width: 991px) {
  .navbar10_component {
    height: 7rem;
  }
}

@media screen and (max-width: 767px) {
  .navbar10_component {
    min-height: 4rem;
  }
}

.navbar10_container {
  display: flex;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
}

.navbar10_logo-link {
  padding-left: 0px;
}

@media screen and (max-width: 991px) {
  .navbar10_logo-link {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 767px) {
  .navbar10_logo-link {
    width: 64px;
    height: 64px;
  }
}

.navbar10_logo {
  width: 80px;
}

@media screen and (max-width: 767px) {
  .navbar10_logo.is-alternate {
    width: 64px;
  }
}

.navbar10_logo.is-primary {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;

  opacity: 0;
}

@media screen and (max-width: 767px) {
  .navbar10_logo.is-primary {
    width: 64px;
  }
}

.navbar10_menu {
  position: static;

  display: flex;
  margin-left: 1.5rem;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

@media screen and (max-width: 991px) {
  .navbar10_menu {
    position: absolute;

    overflow: auto;
    height: 100dvh;
    margin-left: 0rem;
    padding: 1rem 5% 6.5rem;
    align-items: flex-start;

    border-bottom: 1px solid black;

    background-color: var(--neutrals--neutral-20);

    transition: height 500ms ease;

    background-clip: border-box;
    -webkit-text-fill-color: inherit;
  }
}

@media screen and (max-width: 767px) {
  .navbar10_menu {
    padding-bottom: 6rem;
  }
}

.navbar10_link {
  padding: 1.5rem 1rem;

  transition: color 250ms ease-in-out;

  font-family: Playfair;
  color: var(--navigation--link);
  font-size: 1.5rem;
  font-weight: 500;
}

.navbar10_link:hover {
  color: var(--navigation--link-hover);
}

.navbar10_link:global(.w--current) {
  color: transparent;
}

@media screen and (max-width: 991px) {
  .navbar10_link {
    width: auto;
    padding: 0.75rem 0rem;
    color: var(--navigation--link-alt);
    font-size: 1.5rem;
  }
}

.navbar10_menu-right {
  display: flex;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .navbar10_menu-right {
    margin-top: 1.5rem;
    flex-direction: column;
    align-items: stretch;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}

.button {
  padding: 0.75rem 1.5rem;
  border-radius: var(--border-radius--5);
  background-color: var(--base--color--clarity-300);
  color: white;
  text-align: center;
}

.button.is-secondary {
  border: 1px solid var(--base--color--clarity-300);
  background-color: transparent;
  color: var(--base--color--clarity-300);
}

.button.is-secondary.is-alternate {
  border-color: var(--base--color--peace-50);
  background-color: transparent;
  transition: all 250ms ease-in-out;
  color: var(--base--color--peace-50);
}

.button.is-secondary.is-alternate:hover {
  background-color: var(--base--color--clarity-200);
}

.button.is-link {
  padding: 0.25rem 0rem;

  border-style: none;

  background-color: transparent;

  color: var(--base--color--clarity-300);
  line-height: 1;
  text-decoration: none;
}

.button.is-link.is-icon {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.button.is-link.is-alternate {
  background-color: transparent;
  color: var(--base--color--peace-50);
}

.button.is-small {
  padding: 0.5rem 1.25rem;
}

.button.is-small.is-icon-only {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.button.is-tertiary {
  border-color: transparent;
  background-color: transparent;
  color: var(--base--color--clarity-300);
}

.button.is-alternate {
  background-color: var(--base--color--peace-50);
  color: var(--base--color--clarity-300);
}

.button.is-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
}

.button.is-icon-only {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.navbar10_menu-button {
  padding: 0rem;
}

@media screen and (max-width: 991px) {
  .navbar10_menu-button:global(.w--open) {
    background-color: transparent;
  }
}

.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .menu-icon {
    display: flex;
    width: 48px;
    height: 48px;
    padding-right: 0rem;
    padding-bottom: 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: var(--border-radius--6);

    background-color: var(--base--color--clarity-50);
  }
}

@media screen and (max-width: 991px) {
  .menu-icon_line-top {
    width: 24px;
    height: 2px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: black;
  }
}

@media screen and (max-width: 991px) {
  .menu-icon_line-middle {
    display: flex;
    width: 24px;
    height: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-right: 0px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;

    background-color: black;
  }
}

@media screen and (max-width: 991px) {
  .menu-icon_line-middle-inner {
    width: 4px;
    height: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 991px) {
  .menu-icon_line-bottom {
    width: 24px;
    height: 2px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: black;
  }
}